# Configuration of the swiftformat tool for PACE
# For options see https://github.com/nicklockwood/SwiftFormat

# Require a specific swiftformat version
--minversion 0.49.9

# --------------
# Disabled rules
# --------------

--disable blankLinesAtStartOfScope
--disable blankLinesAtEndOfScope
--disable enumNamespaces
--disable redundantReturn
--disable unusedArguments
--disable redundantSelf
--disable hoistAwait

# --------------
# Defaults rules
# --------------

# Braces
--allman false

# Organize declarations
--beforemarks 
--categorymark "MARK: %c"
--classthreshold 0
--enumthreshold 0
--extensionlength 0
--lifecycle 
--markcategories true
--organizetypes actor,class,enum,struct
--structthreshold 0

# Number formatting
--binarygrouping none
--decimalgrouping none
--exponentcase lowercase
--exponentgrouping disabled
--fractiongrouping disabled
--hexgrouping none
--hexliteralcase uppercase
--octalgrouping none

#Wrap
--assetliterals visual-width
--maxwidth 180
--nowrapoperators 
--wrapternary default

# wrapArguments
--closingparen balanced
--wraparguments before-first
--wrapcollections before-first
--wrapconditions preserve
--wrapparameters before-first
--wrapreturntype preserve
--wraptypealiases preserve

# wrapAttributes
--funcattributes preserve
--typeattributes preserve
--varattributes preserve

# redundantVoidReturnType
--closurevoid remove

# trailingCommas
--commas always

# elseOnSameLine
--elseposition same-line
--guardelse auto

# redundantExtensionACL
--extensionacl on-declarations

# markTypes
--extensionmark "MARK: - %t + %c"
--groupedextension "MARK: %c"
--markextensions always
--typemark "MARK: - %t"

# fileHeader
--header ignore

# indent
--ifdef indent
--indent 4
--indentcase false
--indentstrings false
--smarttabs enabled
--xcodeindentation disabled

# sortedImports
--importgrouping alpha

# blankLinesAroundMark
--lineaftermarks true

# trailingClosures
--trailingclosures 
--nevertrailing 

# spaceAroundOperators
--nospaceoperators 
--operatorfunc spaced
--ranges no-space

# hoistPatternLet
--patternlet inline

# redundantSelf
--self remove
--selfrequired 

# typeSugar
--shortoptionals always

# unusedArguments
--stripunusedargs always

# trailingSpace
--trimwhitespace always

# void
--voidtype void

# Other rules
--conflictmarkers reject
--emptybraces no-space
--fragment false
--linebreaks lf
--modifierorder 
--redundanttype infer-locals-only
--semicolons never
--tabwidth unspecified
--yodaswap always


# --------------
# Opt-in rules
# --------------
--acronyms ID,URL,UUID
--marktypes always




